.evszakok{
    float: left;
}
img{
    border:solid black;
    border-radius: 10%;
    width: 200px;
    margin: 20px;
}
img:hover{
    transform: scale(1.5);
}
p{
    transition: 1s;
    font-size: larger;
    text-align: center;
}
img,p:hover{
    font-size: xx-large;
}
