.box1{
    float: left;
}
.box2{
    float: left;
}
.box3{
    float: left;
}
.box4{
    float: left;
}
img{
    border: 5px solid brown;
    border-radius: 10%;
    width: 10vw;
    margin: 30px;
    transition: 1s;
}
p{
    text-align: center;
    transition: 1s;
    font-size: large;
}
img:hover{
    transform: scale(1.2);
}
img:hover + p {
    font-size: xx-large;
}
.kep{
    border:none;
    border-radius: 0%;
    width: 15vw;
}
