.offcanvas-body a{
    text-decoration: none;
    background-color: rgba(153, 153, 153, 0.082);
    padding: 8px;
    display: block;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: large;
}
.main{
    margin-top: 2%;
}



.modal{
    --bs-modal-zindex:1055;
    --bs-modal-width:715px;
    --bs-modal-padding:1rem;
    --bs-modal-margin:0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg:#fff;
    --bs-modal-border-color:var(--bs-border-color-translucent);
    --bs-modal-border-width:1px;
    --bs-modal-border-radius:0.5rem;
    --bs-modal-box-shadow:0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius:calc(0.5rem - 1px);
    --bs-modal-header-padding-x:1rem;
    --bs-modal-header-padding-y:1rem;
    --bs-modal-header-padding:1rem 1rem;
    --bs-modal-header-border-color:var(--bs-border-color);
    --bs-modal-header-border-width:1px;
    --bs-modal-title-line-height:1.5;
    --bs-modal-footer-gap:0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color:var(--bs-border-color);
    --bs-modal-footer-border-width: 1px;
    position: fixed;
    top:0;
    left:0;
    z-index:var(--bs-modal-zindex);
    display:none;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    outline:0
}

.center{
    align-items: center;
    text-align: center;
}


.polaroid {
    width: 225px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    float: left;
    padding: 15px;
    margin-left: 2vw;
}

  
.container {
    padding: 15px;
}

.polaroid img{
    width: 200px;
    height: 185px;
}

.polaroid:hover{
    transform: scale(1.05);
    transition: 1s;
    font-size: large;
}

.pluszminuszcit{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: solid 1px gray;
}

.textareacit{
    width: 65px;
    margin: 15px;
    text-align: center;
    padding: 5px;
}

.boxcit{
    padding: 6px;
    width: 55%;
    margin: auto;
    margin-top: 12px;
}

.valaszto{
    padding: 25px;
    text-align: center;
    float: left;
    margin: auto;
}

.valaszto img{
    width: 25vw;
    height: 21vh;
}

.valaszto a{
    text-decoration: none;
    color: rgb(61, 65, 122);
}

.valaszto:hover{
    transform: scale(1.1);
    transition: 1s;
}

.lol{
    align-self: center;
}

.xd{
    background-color: rgba(128, 128, 128, 0.377);
}