body {
   background-color: darkcyan;
 }

 style {
   text-decoration: none;
   color:yellow;
 }
 
 h1 {
   color: gold;
 }
 
 a:hover {
   color: coral;
 }

 .active {
   color:blue;
 }

 legend {
   color:red;
 }
 div.nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: chartreuse;

 }
 div.nav li a {
  display: block;
  color:yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.nav li a:hover:not(.active) {
  background-color:black;
}
