body {
   background-color: darkcyan;
 }

 style {
   text-decoration: none;
   color:blue
 }
 
 h1 {
   color:rgb(255, 255, 255)
 }
 
 .active {
    background-color:gold;
 }

 legend {
   color:red;
 }
 div.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:mediumslateblue;

 }
 div.nav li a {
  display: block;
  color:blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.nav li a:hover:not(.active) {
  background-color:gray;
}
div.nav li {
  float: left;
}
body {
  min-height: 100vh;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
  text-align: center;
}
