body {
   background-color: darkcyan;
 }

 style {
   text-decoration: none;
   color:yellow;
 }
 
 h1 {
   color: gold;
 }
 
 a:hover {
   color: coral;
 }

 .active {
   color:blue;
 }

 legend {
   color:red;
 }
